In [1]:
# import the library
import pandas as pd

In [2]:
# open the file
df = pd.read_excel("https://github.com/rodrigomariamorgao/compare_numbers_mega_sena/blob/main/all_results.xlsx?raw=true")

In [3]:
# view the 2 first lines
df.head(2)

,Concurso,Data do Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Ganhadores 6 acertos,Cidade / UF,Rateio 6 acertos,Ganhadores 5 acertos,Rateio 5 acertos,Ganhadores 4 acertos,Rateio 4 acertos,Acumulado 6 acertos,Arrecadação Total,Estimativa prêmio,Acumulado Sorteio Especial Mega da Virada,Observação
0,1,11/03/1996,4,5,30,33,41,52,0,NaN,"R$0,00",17,"R$39.158,92",2016,"R$330,21","R$1.714.650,23","R$0,00","R$0,00","R$0,00",NaN
1,2,18/03/1996,9,37,39,41,43,49,1,PR,"R$2.307.162,23",65,"R$14.424,02",4488,"R$208,91","R$0,00","R$0,00","R$0,00","R$0,00",NaN

In [6]:
# insert the numbers to evaluate
numbers_to_evaluate = [2, 16, 23, 27, 47, 53]

In [4]:
# method to verify all results
def verify_numbers(df, list_numeros):
  for index, row in df.iterrows():
    numbers = [row["Bola1"], row["Bola2"], row["Bola3"],
              row["Bola4"], row["Bola5"], row["Bola6"]]
    if numbers == list_numeros:
      print(row)

In [7]:
# invocate the method
verify_numbers(df, numbers_to_evaluate)

Concurso                                                 14
Data do Sorteio                                  10/06/1996
Bola1                                                     2
Bola2                                                    16
Bola3                                                    23
Bola4                                                    27
Bola5                                                    47
Bola6                                                    53
Ganhadores 6 acertos                                      0
Cidade / UF                                             NaN
Rateio 6 acertos                                     R$0,00
Ganhadores 5 acertos                                     85
Rateio 5 acertos                                R$10.458,19
Ganhadores 4 acertos                                   5323
Rateio 4 acertos                                   R$167,00
Acumulado 6 acertos                          R$3.006.941,32
Arrecadação Total                                    R$0,00
Estimativa prêmio                                    R$0,00
Acumulado Sorteio Especial Mega da Virada            R$0,00
Observação                                              NaN
Name: 13, dtype: object

In [8]:
# create a list with all draw numbers occurencies
numbers = []
for index, row in df.iterrows():
  numbers += [row["Bola1"], row["Bola2"], row["Bola3"], row["Bola4"], row["Bola5"], row["Bola6"]]

In [10]:
# check the numbers quantity -> 2806 * 6
len(numbers)

16836

In [11]:
# create a counter with number and quantity time draw
from collections import Counter
counter = Counter(numbers)

In [12]:
# print the counter
counter

Counter({4: 293,
         5: 303,
         30: 297,
         33: 305,
         41: 295,
         52: 281,
         9: 265,
         37: 302,
         39: 266,
         43: 295,
         49: 285,
         10: 328,
         11: 296,
         29: 282,
         36: 283,
         47: 269,
         1: 271,
         6: 282,
         27: 293,
         42: 299,
         59: 274,
         2: 279,
         16: 292,
         19: 270,
         46: 293,
         7: 266,
         13: 289,
         22: 252,
         40: 262,
         3: 262,
         20: 277,
         21: 235,
         38: 297,
         56: 290,
         17: 295,
         53: 319,
         8: 276,
         54: 287,
         55: 238,
         60: 269,
         18: 269,
         25: 280,
         57: 270,
         15: 239,
         58: 272,
         32: 298,
         50: 275,
         23: 298,
         12: 266,
         35: 297,
         51: 284,
         34: 304,
         24: 279,
         28: 291,
         31: 259,
         14: 273,
         44: 298,
         45: 278,
         48: 260,
         26: 234})

In [13]:
# create a tuple with number and value occurencies
counter_items = [(value, key) for key, value in counter.items()]
print(counter_items)

[(293, 4), (303, 5), (297, 30), (305, 33), (295, 41), (281, 52), (265, 9), (302, 37), (266, 39), (295, 43), (285, 49), (328, 10), (296, 11), (282, 29), (283, 36), (269, 47), (271, 1), (282, 6), (293, 27), (299, 42), (274, 59), (279, 2), (292, 16), (270, 19), (293, 46), (266, 7), (289, 13), (252, 22), (262, 40), (262, 3), (277, 20), (235, 21), (297, 38), (290, 56), (295, 17), (319, 53), (276, 8), (287, 54), (238, 55), (269, 60), (269, 18), (280, 25), (270, 57), (239, 15), (272, 58), (298, 32), (275, 50), (298, 23), (266, 12), (297, 35), (284, 51), (304, 34), (279, 24), (291, 28), (259, 31), (273, 14), (298, 44), (278, 45), (260, 48), (234, 26)]

In [21]:
# get the 6 high numbers draw
high_numbers = sorted(counter_items)[-6:]
print(high_numbers)

[(302, 37), (303, 5), (304, 34), (305, 33), (319, 53), (328, 10)]

In [15]:
# create a list with high numbers draw
numbers_only = []
for each in high_numbers:
  numbers_only.append(each[1])

In [16]:
# order the list by asc
numbers_only = sorted(numbers_only)

In [19]:
print(numbers_only)

[5, 10, 33, 34, 37, 53]

In [18]:
# invocate the method
verify_numbers(df, numbers_only)