In [ ]:
# import the library
import pandas as pd

In [ ]:
# open the file
df = pd.read_excel("https://github.com/rodrigomariamorgao/compare_numbers_mega_sena/blob/main/all_results.xlsx?raw=true")

In [ ]:
# view the 2 first lines
df.head(2)

   Conc.        Data  Unnamed: 2  ...  Unnamed: 7  Gan.  Prêmio
0   2447  25/01/2022          13  ...          52     0     NaN
1   2446  22/01/2022           1  ...          58     0     NaN

[2 rows x 10 columns]

In [ ]:
# rename columns
df = df.rename(columns={'Unnamed: 2': 'number_1', 'Unnamed: 3': 'number_2',
                        'Unnamed: 4': 'number_3', 'Unnamed: 5': 'number_4',
                        'Unnamed: 6': 'number_5', 'Unnamed: 7': 'number_6'})

In [ ]:
# view the 2 first lines
df.head(2)

   Conc.        Data  number_1  number_2  ...  number_5  number_6  Gan.  Prêmio
0   2447  25/01/2022        13        19  ...        49        52     0     NaN
1   2446  22/01/2022         1        13  ...        51        58     0     NaN

[2 rows x 10 columns]

In [ ]:
# insert the numbers to evaluate
numbers_to_evaluate = [2, 16, 23, 27, 47, 53]

In [ ]:
# method to verify all results
def verify_numbers(df, list_numeros):
  for index, row in df.iterrows():
    numbers = [row["number_1"], row["number_2"], row["number_3"],
              row["number_4"], row["number_5"], row["number_6"]]
    if numbers == list_numeros:
      print(row)

In [ ]:
# invocate the method
verify_numbers(df, numbers_to_evaluate)

Conc.               14
Data        10/06/1996
number_1             2
number_2            16
number_3            23
number_4            27
number_5            47
number_6            53
Gan.                 0
Prêmio             NaN
Name: 2433, dtype: object

In [ ]:
# create a list with all draw numbers occurencies
numbers = []
for index, row in df.iterrows():
  numbers += [row["number_1"], row["number_2"], row["number_3"], row["number_4"], row["number_5"], row["number_6"]]

In [ ]:
# check the numbers quantity -> 2447 * 6
len(numbers)

14682

In [ ]:
# create a counter with number and quantity time draw
from collections import Counter
counter = Counter(numbers)

In [ ]:
# print the counter
counter

Counter({1: 237,
         2: 250,
         3: 225,
         4: 264,
         5: 269,
         6: 248,
         7: 234,
         8: 246,
         9: 231,
         10: 277,
         11: 255,
         12: 239,
         13: 250,
         14: 229,
         15: 213,
         16: 254,
         17: 255,
         18: 240,
         19: 233,
         20: 236,
         21: 209,
         22: 215,
         23: 261,
         24: 252,
         25: 236,
         26: 204,
         27: 261,
         28: 258,
         29: 257,
         30: 260,
         31: 230,
         32: 252,
         33: 264,
         34: 257,
         35: 256,
         36: 252,
         37: 266,
         38: 252,
         39: 232,
         40: 233,
         41: 258,
         42: 268,
         43: 256,
         44: 255,
         45: 235,
         46: 244,
         47: 233,
         48: 226,
         49: 251,
         50: 240,
         51: 253,
         52: 245,
         53: 279,
         54: 259,
         55: 206,
         56: 248,
         57: 232,
         58: 239,
         59: 231,
         60: 232})

In [ ]:
# create a tuple with number and value occurencies
counter_items = [(value, key) for key, value in counter.items()]
print(counter_items)

[(250, 13), (233, 19), (257, 29), (268, 42), (251, 49), (245, 52), (237, 1), (261, 27), (258, 41), (253, 51), (239, 58), (255, 11), (236, 25), (252, 32), (266, 37), (233, 47), (248, 56), (213, 15), (255, 17), (236, 20), (256, 35), (256, 43), (269, 5), (239, 12), (230, 31), (250, 2), (234, 7), (231, 9), (244, 46), (259, 54), (261, 23), (264, 33), (246, 8), (257, 34), (252, 38), (264, 4), (206, 55), (226, 48), (258, 28), (215, 22), (260, 30), (252, 36), (229, 14), (233, 40), (279, 53), (232, 57), (255, 44), (204, 26), (232, 39), (235, 45), (232, 60), (225, 3), (252, 24), (277, 10), (254, 16), (240, 18), (240, 50), (248, 6), (231, 59), (209, 21)]

In [ ]:
# get the 6 high numbers draw
high_numbers = sorted(counter_items)[-6:]
print(high_numbers)

[(264, 33), (266, 37), (268, 42), (269, 5), (277, 10), (279, 53)]

In [ ]:
# create a list with hig numbers draw
numbers_only = []
for each in high_numbers:
  numbers_only.append(each[1])

In [ ]:
# order the list by asc
numbers_only = sorted(numbers_only)

In [ ]:
# invocate the method
verify_numbers(df, numbers_only)